.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  /* Lighter grey */
  padding: 20px 10px;
  /* Increased padding for thickness */
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: inline-block;
}

body {
  background-color: #cbf5f2;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  /* Ensure links are side by side */
}

.nav-links a:hover {
  background: linear-gradient(to right, #799af5, #72f2ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #799af5, #72f2ca);
  transition: width 0.3s;
  margin: 0 auto;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Retro feel */
.navbar {
  border-bottom: 3px solid #4d31f1;
}

.nav-links a {
  font-weight: bold;
  font-style: italic;
}

.nav-links a:hover {
  font-style: normal;
}


.text::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/girl.png') no-repeat center;
  opacity: 0.5;
  z-index: -1;
  text-align: center;
  margin-top: 4%;
  top: 0%;
  background-position: top;
  background-size: 100%;
}

.text {
  text-align: center;
  padding-top: 20%;
  margin-bottom: 20px;
  /* Add margin to create space below the text */
}

.first-break {
  /*background-color: #ffffff; */
  /* Regular white background */
  padding: 20px;
  font-size: 19px;
  position: relative;
  z-index: 0;
  margin-top: 20%;
}

.main2 {
  transform: matrix(1, -0.20, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
  transition: transform 0.3s, text-shadow 0.3s;
}

.main2 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;
  text-shadow: 4px 5px #f9f9f9, 6px 7px #c6a39a;
}

.main2 span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 20px;
}

@keyframes highlight {
  0% {
    background-position: -100%;
  }

  100% {
    background-position: 0%;
  }
}

.first-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.info-text {
  margin-right: 20px;
}

.info-image img {
  max-width: 150px;
  border-radius: 50%;
}

.heroheading,
.heroheadinggradient {
  font-size: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}

.heroheading {
  padding-left: 11%;
  padding-top: 6%;
  padding-right: 15%;
  padding-bottom: 6%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Drop shadow border */

}

.heroheadinggradient {
  background: linear-gradient(270deg, #59e9a3, #2841af, #a43ce9);
  /* Define the gradient colors */
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}