/* Resetting body styles */
body {
  background-color: #d5f4f2;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Styling the navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  /* Lighter grey */
  padding: 20px 10px;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* Ensure the navbar stays on top */
  border-bottom: 3px solid #4d31f1;
}

/* Navbar links */
.nav-links {
  display: inline-block;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
}

.nav-links a:hover {
  background: linear-gradient(to right, #799af5, #72f2ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #799af5, #72f2ca);
  transition: width 0.3s;
  margin: 0 auto;
}

.nav-links a:hover::after {
  width: 100%;
}

/* About Me Container */
.about-me-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 100px 50px;
  /* Add top padding to account for the fixed navbar */
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #333;
  box-shadow: 5px 5px 0 #333;
  margin-top: 80px;
  margin-bottom: 40px;
  /* Extra margin to ensure it is below the navbar */
}

/* Text section styling */
.text-section {
  max-width: 500px;
}

/* Image styling */
.image-section img {
  border-radius: 10%;
  border: 5px solid #333;
  /* width: 250px; */
  height: 400px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Ombre text styling */
.ombre-text {
  background: linear-gradient(to right, #33a6e8, #9d6bdb, #9d1173);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ombre-animation 5s ease-in-out infinite;
}

/* Ombre animation */
@keyframes ombre-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Paragraph text styling */
.intro-text,
.hobbies-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.intro-text {
  color: #555;
}

.hobbies-text {
  font-style: italic;
}

/* Header styling */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px #55b897;
}